<h1>Please fill information:</h1><br>
<form action="/about_to_add" method="POST">
    Costumer: <input type="text" name="costumer" size="20"><br>
    Work_type: 
    <input type="radio" name="work_type" value="Installation"> Installation
    <input type="radio" name="work_type" value="Maintenance"> Maintenance
    <input type="radio" name="work_type" value="Inspection"> Inspection
    <input type="radio" name="work_type" value="Demolition"> Demolition
    <input type="radio" name="work_type" value="Upgrading"> Upgrading
    <input type="radio" name="work_type" value="Other"> Other<br>
    Price (full numbers): <input type="text" name="price" size="20"><br>
    Work status:
    <input type="radio" name="status" value="Not started"> Not started
    <input type="radio" name="status" value="Started"> Started
    <input type="radio" name="status" value="Done"> Done<br>
    Start date (ex: 2020-12-22): <input type="text" name="date" size="20"><br>
    <input type="submit" value="Add info">
</form>