<h1>Please fill information:</h1><br>
<form action="/login_added_new_work" method="POST">
    Costumer: <input type="text" name="costumer" size="20"><br>
    Work_type: 
    <input type="radio" name="work_type" value="1"> Installation
    <input type="radio" name="work_type" value="2"> Maintenance
    <input type="radio" name="work_type" value="3"> Inspection
    <input type="radio" name="work_type" value="4"> Demolition
    <input type="radio" name="work_type" value="5"> Upgrading
    <input type="radio" name="work_type" value="6"> Other<br>
    Price (full numbers): <input type="text" name="price" size="20"><br>
    Work status:
    <input type="radio" name="status" value="1"> Not started
    <input type="radio" name="status" value="2"> Started
    <input type="radio" name="status" value="3"> Done<br>
    Start_date (full numbers ex: 01012020): <input type="text" name="start_date" size="20"><br>
    <input type="submit" value="Add info">
</form>