WELCOME USER {{session.username}}<br>
Information gathered and sorted by: {{intrest}}<br>
<h1>GOOD JOB! You have been productive member of our company.<br>
     {{combined_price}}e is the combined sum from work<br>
</h1>
This is the number of works: {{number_of_intrest}} {% for work in intrest_list %}<br>
<form action="/modify" method="POST">
     <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
     <input type="radio" name="selected" value={{work.id}} checked> Modify
     Worker:   {{work.username}}         Costumer:   {{work.costumer}}          Work: {{work.work_type}}          Price:  {{work.price}}          Status:  {{work.status}}          Date:  {{work.date}}<br>
     {% endfor %}
     <input type="submit" value="modify">
</form>
<a href="/login">Return</a>