WELCOME USER {{session.username}}<br>
<form action="/modify_done" method="POST">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <h1>Work selected to modify:</h1>{% for work in selected_work %}
    <input type="hidden" name="work_id" value="{{work.id}}">
    Costumer: <input type="text" name="costumer" value={{work.costumer}} size="20"><br>
    Work type currently {{work.work_type}}: 
    <input type="radio" name="work_type" value="Installation"> Installation
    <input type="radio" name="work_type" value="Maintenance"> Maintenance
    <input type="radio" name="work_type" value="Inspection"> Inspection
    <input type="radio" name="work_type" value="Demolition"> Demolition
    <input type="radio" name="work_type" value="Upgrading"> Upgrading
    <input type="radio" name="work_type" value="Other"> Other<br>
    Price: <input type="text" name="price" value={{work.price}} size="20"><br>
    Work status currently {{work.status}}:
    <input type="radio" name="status" value="Not started"> Not started
    <input type="radio" name="status" value="Started"> Started
    <input type="radio" name="status" value="Done"> Done
    <input type="radio" name="status" value="Paused"> Paused
    <input type="radio" name="status" value="Restarted"> Restarted<br>
    Start date (ex: 2020-12-22): <input type="text" name="date" value={{work.date}} size="20"><br>
    <br>
    <h2>Please write explination for modification:</h2><br>
    <textarea name="explination" rows="5" cols="40"></textarea>
    <br>{% endfor %}
    <input type="submit" value="All done">
</form>
<br><br><h1>All the times this work has been modified:</h1><br>
{% for work in work_history %}
Modified at:  {{work.time.strftime("%Y-%m-%d %H:%M:%S")}} Explination:  {{work.explination}}<br>
Costumer:  {{work.costumer}}  Work type:  {{work.work_type}}  Price:  {{work.price}}  Status:  {{work.status}}  Start date:  {{work.date}}<br><br>
{% endfor %}
<a href="/login">Return</a>
