WELCOME USER {{session.username}}<br>

<a href="/login">Return</a>
<br>
<form action="/info" method="POST">
    I need info about: <br>
    <input type="radio" name="intrest" value="costumer" checked> costumer
    <input type="radio" name="intrest" value="work_type"> work_type
    <input type="radio" name="intrest" value="price"> price
    <input type="radio" name="intrest" value="status"> status
    <input type="radio" name="intrest" value="start_date"> start_date
    <input type="radio" name="intrest" value="all"> all (admin)
    <input type="submit" value="Continue">
</form>